@page "/SyncfusionTest"
@using System;
@using System.Collections;
@using System.Collections.Generic;
@using System.Linq;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.Extensions.Primitives;
@using BazaBlazor.Data;
@using BazaBlazor.Shared;
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids

<h2>test</h2>


